linkedin-j/schema/src/test/resources/com/google/code/linkedinapi/schema/xml/linkedin-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="activity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="timestamp"/>
        <xs:element ref="content-type"/>
        <xs:element ref="body"/>
      </xs:sequence>
      <xs:attribute name="locale" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="content-type" type="xs:NCName"/>
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="status"/>
        <xs:element ref="timestamp"/>
        <xs:element ref="error-code"/>
        <xs:element ref="message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="status" type="xs:integer"/>
  <xs:element name="error-code" type="xs:integer"/>
  <xs:element name="message" type="xs:string"/>
  <xs:element name="mailbox-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="recipients"/>
        <xs:element ref="subject"/>
        <xs:element ref="body"/>
        <xs:element minOccurs="0" ref="item-content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="recipient"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject" type="xs:string"/>
  <xs:element name="item-content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="invitation-request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invitation-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="connect-type"/>
        <xs:element ref="authorization"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connect-type" type="xs:NCName"/>
  <xs:element name="authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="network-stats"/>
        <xs:element ref="updates"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-stats">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="property"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="key" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="updates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="update"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="timestamp"/>
        <xs:element minOccurs="0" ref="update-key"/>
        <xs:element ref="update-type"/>
        <xs:element ref="update-content"/>
        <xs:element ref="is-commentable"/>
        <xs:element minOccurs="0" ref="update-comments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-key" type="xs:string"/>
  <xs:element name="update-type" type="xs:NCName"/>
  <xs:element name="update-content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="is-commentable" type="xs:boolean"/>
  <xs:element name="update-comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="update-comment"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="person"/>
      </xs:sequence>
      <xs:attribute name="count" use="required" type="xs:integer"/>
      <xs:attribute name="start" use="required" type="xs:integer"/>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="id"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="first-name"/>
          <xs:element ref="last-name"/>
          <xs:element ref="headline"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="location"/>
          <xs:element ref="industry"/>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="connections"/>
          <xs:element ref="current-status"/>
          <xs:element ref="distance"/>
          <xs:element ref="current-status-timestamp"/>
          <xs:element ref="num-recommenders"/>
          <xs:element ref="relation-to-viewer"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:element ref="summary"/>
          <xs:element ref="interests"/>
          <xs:element ref="associations"/>
          <xs:element ref="honors"/>
          <xs:element ref="specialties"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="positions"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="educations"/>
          <xs:element ref="member-url-resources"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="api-standard-profile-request"/>
          <xs:element ref="site-standard-profile-request"/>
        </xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="picture-url"/>
          <xs:element ref="recommendations-given"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="path"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="location">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element minOccurs="0" ref="country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="code" type="xs:NCName"/>
  <xs:element name="current-status-timestamp" type="xs:integer"/>
  <xs:element name="num-recommenders" type="xs:integer"/>
  <xs:element name="relation-to-viewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="distance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interests" type="xs:string"/>
  <xs:element name="associations">
    <xs:complexType/>
  </xs:element>
  <xs:element name="honors" type="xs:string"/>
  <xs:element name="specialties" type="xs:string"/>
  <xs:element name="positions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="position"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="position">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="title"/>
        <xs:element minOccurs="0" ref="summary"/>
        <xs:element minOccurs="0" ref="start-date"/>
        <xs:element minOccurs="0" ref="end-date"/>
        <xs:element ref="is-current"/>
        <xs:element ref="company"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="is-current" type="xs:boolean"/>
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="type"/>
        <xs:element ref="name"/>
        <xs:element minOccurs="0" ref="industry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="educations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="education"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="education">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="school-name"/>
        <xs:element ref="degree"/>
        <xs:element ref="start-date"/>
        <xs:element ref="end-date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="school-name" type="xs:string"/>
  <xs:element name="degree" type="xs:string"/>
  <xs:element name="member-url-resources">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="member-url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="member-url">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="url"/>
        <xs:element ref="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="picture-url" type="xs:anyURI"/>
  <xs:element name="recommendations-given">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="recommendation"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="recommendation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="recommendation-type"/>
        <xs:element ref="recommendation-snippet"/>
        <xs:element ref="recommendee"/>
        <xs:element ref="web-url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recommendation-type" type="xs:NCName"/>
  <xs:element name="recommendation-snippet" type="xs:string"/>
  <xs:element name="recommendee">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="first-name"/>
        <xs:element ref="last-name"/>
        <xs:element ref="headline"/>
        <xs:element ref="api-standard-profile-request"/>
        <xs:element ref="site-standard-profile-request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="web-url" type="xs:anyURI"/>
  <xs:element name="body" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="value" type="xs:NMTOKEN"/>
  <xs:element name="timestamp" type="xs:integer"/>
  <xs:element name="current-status" type="xs:string"/>
  <xs:element name="update-comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="sequence-number"/>
        <xs:element ref="comment"/>
        <xs:element minOccurs="0" ref="person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequence-number" type="xs:integer"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="connections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:NMTOKEN"/>
  <xs:element name="first-name" type="xs:string"/>
  <xs:element name="last-name" type="xs:string"/>
  <xs:element name="headline" type="xs:string"/>
  <xs:element name="industry" type="xs:string"/>
  <xs:element name="distance" type="xs:integer"/>
  <xs:element name="summary" type="xs:string"/>
  <xs:element name="start-date">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="year"/>
        <xs:element minOccurs="0" ref="month"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="end-date">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="year"/>
        <xs:element minOccurs="0" ref="month"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="url" type="xs:anyURI"/>
  <xs:element name="api-standard-profile-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="url"/>
        <xs:element ref="headers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-standard-profile-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="url"/>
        <xs:element minOccurs="0" ref="headers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="year" type="xs:integer"/>
  <xs:element name="month" type="xs:integer"/>
  <xs:element name="headers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="http-header"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="http-header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
