linkedin-j/schema/src/main/resources/com/google/code/linkedinapi/schema/linkedin-api-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="activity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="timestamp"/>
        <xs:element ref="content-type"/>
        <xs:element ref="body"/>
      </xs:sequence>
      <xs:attribute name="locale" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="content-type">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="linkedin-html"/>
	  </xs:restriction>
	</xs:simpleType>
  </xs:element>
  <xs:element name="mailbox-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="recipients"/>
        <xs:element ref="subject"/>
        <xs:element ref="body"/>
        <xs:element minOccurs="0" ref="item-content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="recipient"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject" type="xs:string"/>
  <xs:element name="item-content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="invitation-request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invitation-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="connect-type"/>
        <xs:element ref="authorization"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connect-type">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="friend"/>
	  </xs:restriction>
	</xs:simpleType>
  </xs:element>

  <xs:element name="authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="network-stats"/>
        <xs:element ref="updates"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-stats">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="property"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="key" use="required" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="updates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="update"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="timestamp"/>
        <xs:element ref="update-key"/>
        <xs:element ref="update-type"/>
        <xs:element ref="update-content"/>
        <xs:element ref="is-commentable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-key" type="xs:string"/>
  <xs:element name="update-type">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="STAT"/>
	  </xs:restriction>
	</xs:simpleType>
  </xs:element>

  <xs:element name="update-content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="is-commentable" type="xs:boolean"/>
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="person"/>
      </xs:sequence>
      <xs:attribute name="count" use="required" type="xs:integer"/>
      <xs:attribute name="start" use="required" type="xs:integer"/>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="comment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="id"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="first-name"/>
          <xs:element ref="last-name"/>
          <xs:element ref="headline"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="location"/>
          <xs:element ref="industry"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="connections"/>
          <xs:element ref="current-status"/>
          <xs:element ref="distance"/>
          <xs:element ref="current-status-timestamp"/>
          <xs:element ref="num-recommenders"/>
          <xs:element ref="relation-to-viewer"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="summary"/>
        <xs:element minOccurs="0" ref="positions"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="educations"/>
          <xs:element ref="member-url-resources"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="api-standard-profile-request"/>
          <xs:element ref="site-standard-profile-request"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="picture-url"/>
      </xs:sequence>
      <xs:attribute name="path"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="first-name" type="xs:string"/>
  <xs:element name="last-name" type="xs:string"/>
  <xs:element name="headline" type="xs:string"/>
  <xs:element name="location">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element minOccurs="0" ref="country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="code" type="xs:string"/>
  <xs:element name="current-status-timestamp" type="xs:integer"/>
  <xs:element name="num-recommenders" type="xs:integer"/>
  <xs:element name="relation-to-viewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="distance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="positions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="position"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="position">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="title"/>
        <xs:element minOccurs="0" ref="summary"/>
        <xs:element minOccurs="0" ref="start-date"/>
        <xs:element ref="is-current"/>
        <xs:element ref="company"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="is-current" type="xs:boolean"/>
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="type"/>
        <xs:element ref="name"/>
        <xs:element minOccurs="0" ref="industry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="educations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="education"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="education">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="school-name"/>
        <xs:element ref="degree"/>
        <xs:element ref="start-date"/>
        <xs:element ref="end-date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="school-name" type="xs:string"/>
  <xs:element name="degree" type="xs:string"/>
  <xs:element name="end-date" type="year"/>
  <xs:element name="member-url-resources">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="member-url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="member-url">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="url">
          <xs:sequence>
            <xs:element ref="name"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="api-standard-profile-request">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="url">
          <xs:sequence>
            <xs:element ref="headers"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="headers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="http-header"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="http-header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-standard-profile-request" type="url"/>
  <xs:element name="picture-url" type="xs:anyURI"/>
  <xs:element name="body" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="value" type="xs:NMTOKEN"/>
  <xs:element name="current-status" type="xs:string"/>
  <xs:element name="connections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="person"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestamp" type="xs:integer"/>
  <xs:element name="id" type="xs:NMTOKEN"/>
  <xs:element name="industry" type="xs:string"/>
  <xs:element name="distance" type="xs:integer"/>
  <xs:element name="summary" type="xs:string"/>
  <xs:element name="start-date">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="year">
          <xs:sequence>
            <xs:element minOccurs="0" ref="month"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="month" type="xs:integer"/>
  <xs:complexType name="year">
    <xs:sequence>
      <xs:element ref="year"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="year" type="xs:integer"/>
  <xs:complexType name="url">
    <xs:sequence>
      <xs:element ref="url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="url" type="xs:anyURI"/>
</xs:schema>
